/.vscode
/ecommerce.html
/ecommerce.js
/functions.txt
/inventory.html
/inventory.js
/lndex.html
/message.txt
/myfirst.js
/New folder (2)-20231120T084333Z-001.zip
/node_modules
/package-lock.json
/package.json
/routes.js
/script.js
/student.js